{{- $attributes := partial "docs/text/mapper" (dict
  "attributes" (cond .IsNamedParams .Params dict)
  "merge" (dict
    "class" "mermaid"
  )
) -}}
<pre {{ partial "docs/html-attrs" $attributes | safeHTMLAttr }}>
  {{- .Inner | htmlEscape | safeHTML -}}
</pre>
{{- if not (.Page.Store.Get "mermaid") -}}
  <script src="{{ "mermaid.min.js" | relURL }}"></script>
  {{- with resources.Get "mermaid-theme.js" | resources.Minify -}}
    <script>{{ .Content | safeJS }}</script>
  {{- end -}}
  {{- .Page.Store.Set "mermaid" true -}}
{{- end -}}
